@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    cursor: pointer;
    background-color: inherit
}

p, a, span, h1, h2, h3, button {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* header */
.header {
    background-color: #222222;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav-left {
    display: flex;
    padding: 18px 0 19px;
    gap: 41px;
}

.header__nav-right {
    display: flex;
    gap: 33px;
    padding: 26px 0 20px;
}

.header__banner {
    background-color: #F1E4E6;
}

.banner_container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.header__banner-image {
    width: 800px;
    height: 764px;
    background: url("./img/banner_photo.png") no-repeat center center/cover;
}

.header__banner-text {
    width: 393px;
    border-left: 12px solid;
    margin-left: 63px;
    color: #F16D7F;
    margin-bottom: 381px;
}

.header__banner-text h1, .header__banner-text span {
    padding-left: 16px;
    color: #222;
}

.header__banner-text h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
}

.header__banner-text span {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
}

.header__banner-text span.header__banner-color{
    padding-left: 0;
    color: inherit;
}

.main__nav {
    padding-top: 65px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.main__nav-woman {
    background: url(./img/woman.png)  no-repeat center center/cover;
}

.main__nav-men {
    background: url(./img/men.png)  no-repeat center center/cover;
}

.main__nav-kids {
    background: url(./img/kids.png)  no-repeat center center/cover;
}

.main__nav-accesories {
    background: url(./img/accesories.png)  no-repeat center center/cover;
    grid-column: span 3;
}

.main__nav-background {
    background: rgba(33, 22, 22, 0.7);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__nav-text {
    text-align: center;
}

.main__nav-text p {
    color: #fff;
    font-size: 16px;
    line-height: 19.2px;
}

.main__nav-text span {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #F16D7F;
}

.main__products {
    padding: 96px 0 95px;
    text-align: center;
}

.main__products h3 {
    font-size: 30px;
    line-height: 36px;
    color: #222;
}

.main__products p {
    font-size: 14px;
    line-height: 16.8px;
    color: #9F9F9F;
    padding-top: 6px;
}

.main__products__grid {
    padding-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.main__products__grid__card {
    background-color: #F8F8F8;
}

.main__products__grid__card-text {
    margin: 24px auto 24px 16px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
}

.main__products__grid__card-text h3 {
    font-size: 13px;
    line-height: 15.6px;
    color: #000;
}

.main__products__grid__card-text p {
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
    color: #5D5D5D;
    padding-top: 0;
}

.main__products__grid__card-text span {
    font-size: 16px;
    line-height: 19.2px;
    color: #F16D7F;
}

.main__products button {
    font-size: 16px;
    line-height: 19.2px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    margin-top: 48px;
    padding: 15px 39px 14px;
}

/* feature */

.feature {
    background-color: #222224
}

.feature__content {
    color: #FBFBFB;
    display: flex;
    padding: 104px 0;
    gap: 30px;
}

.feature__content article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature__content h3 {
    margin-top: 25px;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
}

.feature__content p {
    width: 360px;
    font-size: 14px;
    line-height: 16.77px;
}

/* subscribe */

.subscribe_container {
    width: 1600px;
    margin: 0 auto;
    background: url(./img/subscribe_bgrd.jpg) no-repeat center center / cover;
}

.subscribe_blur {
    width: 100%;
    height: 100%;
    background-color: rgba(244, 244, 244, 0.7);
}

.subscribe__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #222224;
}

.subscribe__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 97px;
    margin-bottom: 126px;
    width: 360px;
    height: 225px;
    text-align: center;
}

.subscribe__info p {
    font-size: 20px;
    line-height: 24px;
}

.subscribe__info span {
    font-style: italic;
}

.subscribe__subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 557px;
    text-align: center;
    color: #222224;
}

.subscribe__text {
    height: 61px;
}

.subscribe__text h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
}

.subscribe__text p {
    font-size: 18px;
    line-height: 30px;
}

.subscribe__form {
    display: flex;
}

.subscribe__form input {
    background-color: #E1E1E1;
    width: 256px;
    height: 49px;
    border: none;
    border-radius: 32px 0 0 32px;
}

.subscribe__form input::placeholder {
    color: #222224;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    padding-left: 22px;
}

.subscribe__form button {
    color: #fff;
    font-size: 14px;
    line-height: 16.8px;
    background: #F16D7F;
    border-radius: 0 32px 32px 0;
    width: 100px;
    padding-left: 8px;

}

/* footer */

.footer {
    background-color: #222224;
    color: #FBFBFB;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social-link {
    display: flex;
    gap: 7.29px;
    margin: 24px 0;
}

.footer__social-link a {
   background-color: #fff;
   width: 32px;
   height: 32px;
   display: flex;
   align-items: center;
   justify-content: center;
}


@media (max-width: 1139px) {
    .container {
        max-width: 736px;
    }
    
    .header__nav-left {
        display: flex;
        padding: 18px 0  18px 32px;
    }
    
    .header__nav-right {
        display: flex;
        gap: 41px;
        padding: 19px 32px 18px;
    }
    
    .banner_container {
        max-width: 768px;
        align-items: center;
    }
    
    .header__banner-image {
        width: 386px;
        height: 368px;
        background: url("./img/banner_photo_tablet.png") no-repeat center center/cover;
    }
    
    .header__banner-text {
        width: 311px;
        margin-left: 39px;
        margin-bottom: 0;
    }
    
    .header__banner-text h1, .header__banner-text span {
        padding-left: 16px;
        color: #222;
    }
    
    .header__banner-text h1 {
        font-size: 44px;
        line-height: 52.8px;
    }
    
    .header__banner-text span {
        font-size: 24px;
        line-height: 28.8px;
    }

    .main__nav {
        padding-top: 65px;
        grid-template-columns: 232px 232px 232px;
        grid-template-rows: 167px 116px;
        gap: 20px;
    }

    .main__products {
        padding: 110px 0 70px;
    }
    
    .main__products p {
        padding-top: 3.3px;
    }
    
    .main__products__grid {
        padding-top: 72px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    
    .main__products__grid__card-text {
        margin: 23px auto 20px 16px;
    }
    
    .main__products button {
        margin-top: 32px;
    }

}

@media (max-width: 735px) {
    .container {
        max-width: 343px;
    }

    .header__nav-left {
        padding: 18px 0;
    }
    
    .header__nav-right {
        padding: 25px 0 26px;
    }

    .header__nav-right_btn-hidden {
        display: none;
    }

    .banner_container {
        max-width: 343px;
        justify-content: center;
    }
    
    .header__banner-image {
        display: none;
    }
    
    .header__banner-text {
        width: 263px;
        margin: 148px 0 148px 8px;
    }
    
    .header__banner-text h1, .header__banner-text span {
        padding-left: 15px;
    }
    
    .header__banner-text h1 {
        font-size: 38px;
        line-height: 45.6px;
    }
    
    .header__banner-text span {
        font-size: 20px;
        line-height: 24px;
    }

    .main__nav {
        padding-top: 64px;
        grid-template-columns: 343px;
        grid-template-rows: repeat(3, 248px) 111px;
        gap: 32px;
    }

    .main__nav-accesories {
        grid-column: unset;
    }

    .main__products {
        padding: 64px 0 85px;
    }
    
    .main__products__grid {
        padding-top: 64.7px;
        grid-template-columns: 1fr;
        gap: 15.61px;
    }
    
    .main__products__grid__card-text {
        margin: 24px auto 20px 16px;
    }
    
    .main__products button {
        margin-top: 40px;
    }
}